* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

body {
  background-image: url("http://st.gde-fon.com/wallpapers_original/76556_pejzazh_noch_gory_3463x2000_www.Gde-Fon.com.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  font-size: 16px;

  align-items: center;
  display: flex;
  flex-direction: column;
  /justify-content: center;
}

body h3 {
  color: white;
  margin-top: 10px;
}

body,
input,
textarea,
button {
  font-family: "Silkscreen", cursive;
}

html,
body {
  height: 100%;
}

.calcWrapper {
  margin: 10px;
  border-radius: 25px;

  padding: 10px 20px;
  width: 252px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  border: 1px solid rgba(255, 255, 255, 0.18);
}

.tela {
  margin: 25px 0 30px;
  text-align: right;
}

.tela input {
  background: transparent;
  border: none;
  color: #f2f2f2;
  font-size: 40px;
  font-weight: 400;
  text-align: right;
  width: 100%;
}

.tela h2 {
  color: #80a4f7;
  font-size: 15px;
  font-weight: 500;
  height: 18px;
}

.flex-row {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin-bottom: 10px;
}

.button {
  background-color: transparent;
  border: none;
  border-radius: 2px;
  color: #f2f2f2;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  height: 50px;
  margin: 2px;
  transition: all 0.15s ease-in-out;
  width: 50px;
}

.button:hover {
  transform: scale(1.2);
}
.button:active {
  transform: scale(1.1);
}

.gray {
  border: 1px solid #80a4f7;
  color: #80a4f7;
}

.gray:hover {
  background-color: #80a4f7;
  color: white;
}

.#80a4f7 {
  background-color: #80a4f7;
  color: #f2f2f2;
}

.purple-text {
  color: white;
}

footer {
  margin-bottom: 10px;
  color: white;
}
